APP_NAME="Enterprise ERP System"
APP_ENV=local
APP_URL=http://localhost/enterprise_erp

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=enterprise_erp
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET="Enterprise_ERP_Super_Secure_JWT_Secret_Key_2026_!@#"
JWT_EXPIRY=86400
